.pagination__previous-page-btn, .pagination__next-page-btn {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    cursor: pointer;
}

.pagination__previous-page-btn {
    border-right:15px solid #ada8a8;
    margin-right: 4px;
}

.pagination__next-page-btn {
    border-left: 15px solid #ada8a8;
    margin-left: 4px;
}

.pagination__next-page-btn:hover, .pagination__previous-page-btn:hover {
    border-left-color: #8f8a8a;
}

.pagination__previous-page-btn:hover {
    border-right-color: #8f8a8a;
}

.pagination__page-info{
    color: #8f8a8a;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}


.pagination__container {
    margin-bottom: 15px;
    display: flex;

}

@media (max-width: 485px) {
    .pagination__container {
        justify-content: center;
    }
}