.paginationPreviousPageBtn, .paginationNextPageBtn {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    cursor: pointer;
}

.paginationPreviousPageBtn {
    border-right:15px solid #ada8a8;
    margin-right: 4px;
}

.paginationNextPageBtn {
    border-left: 15px solid #ada8a8;
    margin-left: 4px;
}

.paginationNextPageBtn:hover, .paginationPreviousPageBtn:hover {
    border-left-color: #8f8a8a;
}

.paginationPreviousPageBtn:hover {
    border-right-color: #8f8a8a;
}

.paginationPageInfo{
    color: #8f8a8a;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}


.paginationContainer {
    margin-bottom: 15px;
    display: flex;

}

@media (max-width: 485px) {
    .paginationContainer {
        justify-content: center;
    }
}