
.not-found__container {
    margin: 0 auto;
    background: #ece7e7;
    /*max-width: 1200px;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #8a8a8a;
}

.not-found__header {
    top: 30%;
    position: relative;
    font-size: 60px;
}

.not-found__description {
    top: 35%;
    position: relative;
    font-size: 20px;
    color: #ada8a8;
}

.not-found__home-link {
    color: #ff9337;
}