.selectorContainer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

@media (max-width: 485px) {
    .selectorContainer {
        flex-direction: column;
        align-items: center;
    }
}