.mission-item {
    height: 200px;
    font-family: 'Roboto', sans-serif;
    color: #8a8a8a;
    margin-bottom: 40px;
}

.mission-item__container{
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: inherit;
}
.mission-item__img{
    margin-right: 20px;
}
.mission-item__img img{
    height: 100%;
    object-fit: cover;
}

.mission-info{
    height: 200px;
    width: 740px;
}

.mission-info__header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 20px;
}

.mission-info__title{
    color: #4b4b4b;
    /*font-weight: bold;*/
    font-size: 20px;
}
.mission-info__date{
    font-size: 18px;
}
.mission-info__description{
    font-size: 15px;
}