.missionItem {
    height: 200px;
    font-family: 'Roboto', sans-serif;
    color: #8a8a8a;
    margin-bottom: 40px;
}

.missionItemContainer{
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: inherit;
}
.missionItemImg{
    margin-right: 20px;
}
.missionItemImg img{
    height: 100%;
    object-fit: cover;
}

.missionInfo{
    height: 200px;
    width: 740px;
}

.missionInfoHeader {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin-bottom: 20px;
}

.missionInfoTitle{
    color: #4b4b4b;
    /*font-weight: bold;*/
    font-size: 20px;
}
.missionInfoDate{
    font-size: 18px;
}
.missionInfoDescription{
    font-size: 15px;
}


@media (max-width: 485px) {
    .missionItem, .missionInfo {
        height: inherit;
    }

    .missionItemContainer {
        flex-direction: column;
    }

    .missionItemImg {
        margin: 0 auto;
    }

    .missionInfo {
        width: inherit;
    }

    .missionInfoDescription {
        text-align: center;
    }
}